{% extends '::base.html.twig' %}

{% block body %}
    <h1>Request Sent</h1>
    <div>
        Your request for information was sent.  Somemone will be contacting you shortley.
    </div>
{% endblock %}
